<div class='well-center'>
  <h1>Client TWO</h1>

  <% if session[:access_token] %>
    <p>You are log in as <%= @owner['email']%></p>
    <p><%= link_to 'Client-One', ENV['CLIENT_ONE_URL'] %></p>
  <% else %>
    <%= link_to 'Login', '/refresh' %>
  <% end %>
</div>
